<main>
    <div class="container">
        <div class="jumbotron">
            <h1>BURGER PARTY</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>Burgers To Be Eaten</h2>
                <ul>
                    {{#each burgers}} {{#unless this.devoured}}
                    <li class="list-group-item">
                        <form>
                            <button data-id="{{this.id}}" type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
                        </form>
                    </li>
                    {{/unless}} {{/each}}
                </ul>
                <div>

                </div>

            </div>
            <div class="col-lg-6" id="devoured">
                <h2>Devoured Burgers</h2>
                <ul>
                    {{#each burgers}} {{#if this.devoured}}
                    <li>
                        {{this.id}}. {{this.burger_name}}
                    </li>
                    {{/if}} {{/each}}
                </ul>
            </div>
        </div>
        <h2>ADD TO THE PARTY</h2>
        <div class="row">
            <div class="col-lg-12">
                <form action="/burgers" method="POST">
                    <input type="text" id="name" name="burger_name">
                    <button type="submit" class="btn btn-primary">Add A Burger</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    $("#buttonAlert").on("click", function () {
        console.log("hit");
    })

    $(".burgerAvailable").click(function(event){
        event.preventDefault();
        var id = $(this).attr("data-id");
        $.ajax({
            type: "PUT",
            url: "/burgers/" + id
        }).then(function(){
            console.log("DEVOURED!!!");
            location.reload();
        })
    })
</script> {{!--
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form action="/burgers" method="POST">
                <input type="text" id="name" name="burger_name">
                <button type="submit" class="btn btn-primary">Add A Burger</button>
            </form>
        </div>
    </div>
</div> --}}